## Handling Missing Values is important because it can skew your Data
Below are outlined some simple techniques to get you started

In [1]:
import modin.pandas as pd
import numpy as np

In [ ]:
# Download the Environment, Social And Governance Dataset
# https://datacatalog.worldbank.org/dataset/environment-social-and-governance-data

In [2]:
df = pd.read_csv("ESGData.csv")

In [3]:
df.head(1)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2050,Unnamed: 66
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,83.533457,83.897596,84.171599,84.510171,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2018              float64
2019              float64
2020              float64
2050              float64
Unnamed: 66       float64
Length: 67, dtype: object

In [9]:
df.shape

(16013, 67)

In [11]:
missing_values_count = df.isnull().sum()
missing_values_count.tail(5)

2018            9322
2019           12165
2020           15102
2050           15241
Unnamed: 66    16013
dtype: int64

In [13]:
# how many total missing values do we have?
total_cells = np.product(df.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

60.74765745369201

## Above we see that 61% of our data is missing!!

In [5]:
# remove all the rows that contain a missing value
df.dropna()

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2050, Unnamed: 66]
Index: []

[0 rows x 67 columns]

In [ ]:
"""
You may notice that you now have zero rows after running this!
This is because every row had at least one missing value, so what else can we try?
If you look at the print output above you will see that there are 67 columns, so instead let's try
to remove all of the columns with missing values.
"""

In [8]:
# remove all columns with at least one missing value
# FYI, axis=1 refers to columns and axis=0 refers to rows
columns_with_na_dropped = df.dropna(axis=1)
columns_with_na_dropped.shape

(16013, 4)

In [10]:
columns_with_na_dropped.head()

,Country Name,Country Code,Indicator Name,Indicator Code
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS
2,Arab World,ARB,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS
3,Arab World,ARB,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS
4,Arab World,ARB,Agricultural land (% of land area),AG.LND.AGRI.ZS

In [ ]:
"""
Now after running the cell above you will notice that we have lost 63 of our columns. Sadly those
were all of the columns with data on them, which means every column had at least one missing value.
So, this is also useless to us in this scenario.
"""

In [13]:
# just how much data did we lose?
print("Columns in original dataset: %d \n" % df.shape[1])
print("Columns with na's retained: %d" % columns_with_na_dropped.shape[1])

Columns in original dataset: 67

Columns with na's retained: 4

## Now that we have tried both steps above we are left w/ attempting to fill in the empty values ourselves

In [18]:
# replace all NA's with 1's
fill_ones = df.fillna(1)

In [19]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the remaining na's with 1

# other methods that can also be used w/ the function
# method{â€˜backfillâ€™, â€˜bfillâ€™, â€˜padâ€™, â€˜ffillâ€™, None}, default None
# Method to use for filling holes in reindexed Series pad / ffill: propagate last valid observation forward to next valid backfill / bfill: use next valid observation to fill gap.

backfill = df.fillna(method='bfill', axis=0).fillna(1)

In [ ]:
# An example of filling with mean, you just pass in the year to the df to refrence the correct column
df['yearX'].fillna(value=np.mean(df['yearX'].dropna()))